/.project
**/.dub/
**/dub.selections.json
/.editorconfig

/libappbase.a
/appbase.lib
/appbase

**/libappbase_*.a
**/appbase_*.lib
**/appbase_*

/utils/libutils.a
/utils/utils.lib

/configuration/libconfiguration.a
/configuration/configuration.lib

/mysql/libmysql.a
/mysql/mysql.lib

/options/liboptions.a
/options/options.lib

/listener/liblistener.a
/listener/listener.lib

/security/libsecurity.a
/security/security.lib
